# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/

# Virtual environments
env/
venv/
ENV/
.venv/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# Rasa model files
models/*.tar.gz

# Rasa tracker store (if using SQLite)
tracker.db

# Rasa cache folders
chatbot/.cache/
chatbot/.rasa/cache/

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# Environment variables
.env

# VSCode / IDE settings
.vscode/
.idea/

chatbot
rasa-env