.product-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.product-list-container > li {
  width: calc((100% - 2rem) / 3);
  box-sizing: border-box;
}

.card img {
  height: 240px;
  width: 100%; /* 카드의 너비에 맞춤 */
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* card-info */
.relative {
    position: relative;
}
.card-info {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto auto;

}
.cate {
  display: flex;
  gap: 20px;
  grid-column: 1;
  grid-row: 1;
}
.rating {
  display: flex;
  gap: 20px;;
  justify-self: end;
  grid-column: 2;
  grid-row: 1;
}
.rating .review {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating .review::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  background-image: url(../img/svg/review.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.rating .wish {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating .wish::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  transform: translateY(1px);
  background-image: url(../img/svg/bookmark.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.title {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.price {
  justify-self: end;
  grid-column: 2;
  grid-row: 3;
}
.tags {
  display: flex;
  gap: 20px;
  grid-column: 1;
  grid-row: 3;
}
.tag {
  display: inline-block;
  padding: 2px 6px;
  margin-right: 4px;
  border-radius: 4px;
  font-size: 12px;
}

/* wishBtn */
.wish-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none !important;
  cursor: pointer;
}

.wish-btn.wished {
  color: red;
}

@media (max-width: 375px) {
  .num {
    margin: 10px 0;
  }
  
  .product-list-container {
    display: flex;
    justify-content: center;
  }

  .product-list-container li {
    width: calc(50% - 20px);
    margin-bottom: 15px;
  }

  .product-list-container li article {

  }

  .product-list-container li article a {
    padding: 0;
    height: 200px;
  }

  .product-list-container li article a img {
    height: 50%;
  }

  .product-list-container li article a .card-info {
    height: 50%;
  }

  .product-list-container li article a .card-info .cate {
    gap: 5px;
  }

  .product-list-container li article a .card-info .cate p {
    font-size: 10px;
    padding: 2px;
  }

  .product-list-container li article a .card-info .rating {
    gap: 5px;
  }

  .product-list-container li article a .card-info .rating p::before {
    width: 10px;
    height: 10px;
  }

  .product-list-container li article a .card-info .rating p {
    font-size: 10px;
  }

  .product-list-container li article a .card-info .title h3 {
    font-size: 12px;
  }

  .product-list-container li article a .card-info .price {
    transform: translateY(9px);
  }

  .product-list-container li article a .card-info .price p {
    font-size: 10px;
  }

  .product-list-container li article a .card-info .tags {
    gap: 0;
    width: fit-content;
    transform: translateY(-2px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .product-list-container li article a .card-info .tags span {
    font-size: 10px;
    width: 45px;
    padding: 2px !important;
  }

  .product-list-container li article a .card-info .tags span:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .product-list-container li article a .card-info .tags span:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .product-list-container li article a .card-info .tags span:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2;
  }

  .product-list-container li article a .card-info .tags span:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .wish-btn {
    top: 15px;
    right: 10px;
  }

  .wish-btn img {
    width: 25px;
    height: 25px;
  }
}