header {
  height: 60px;
}

header .wrap {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

header .wrap h1 {
  color: #000;
  font-size: 0;
  width: 160px;
  height: 25px;
  background-image: url(../img/svg/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

header .wrap form {
  width: 675px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
}

header .wrap form input {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 25px;
  border: 1px solid #ccc;
  color: #000;
  font-size: 14px;
}

header .wrap form input:focus {
  outline: none;
}

header .wrap form button {
  position: absolute;
  right: 15px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  background-image: url(../img/svg/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

header .wrap .gnb {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

header .wrap .gnb li {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .wrap .gnb li a {
  width: 100%;
  height: 100%;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

header .wrap .gnb li button {
  width: 100%;
  height: 100%;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

header .wrap .gnb li:nth-of-type(1) a {
  background-image: url(../img/svg/bookmark.svg);
}

header .wrap .gnb li:nth-of-type(2) a {
  background-image: url(../img/svg/my.svg);
}

header .wrap .gnb li .logout {
  background-image: url(../img/svg/logout.svg);
}

header .wrap .gnb li .lang {
  background-image: url(../img/svg/lang.svg);
}

header .wrap .gnb li .dark {
  background-image: url(../img/svg/dark.svg);
}

header .wrap .gnb li .menu {
  background-image: url(../img/svg/menu.svg);
}