#Wishlist {
  height: calc(100% - 230px);
  min-height: 0;
  
}

.empty-list {
  height: 100%;
  width: 100% !important;
  padding: 300px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.empty-list p span {
  align-items: center;
}

.empty-list p span::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  transform: translateY(2px);
  background-image: url(../img/svg/bookmark.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.empty-list .btn {
  padding: 10px 120px !important;
  border: 1px solid #ff6f61;
  border-radius: 4px;
  background-color: #ff6f61;
  color: #fff !important;
}